/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */


.wp-block-hotel-property-articles {
    text-align: left;
    max-width: 400px;
    margin: auto;
}

.wp-block-hotel-property-articles .taxonomies-list, .wp-block-hotel-property-articles .term-list {
    margin-bottom: 1rem;
}