.wp-block-hotel-reserve-from {
    .wpcf7-form {
        .input__search-large {
            padding: 1rem;
        }
        .wpcf7-submit {
            padding: 0.8rem 8rem;
            font-size: 15px;
            font-weight: 600;
        }
    }
}
