// Grid breakpoints
//
// grid-breakpoints
$grid-breakpoints: (
    sm: 375px,
    md: 768px,
    // lg: 992px,
    xl: 1140px,
);

// Grid containers
//
// container-max-widths
$container-max-widths: (
    sm: 540px,
    md: 720px,
    // lg: 960px,
    xl: 1140px,
);

// Color system
//
// theme-colors-variables
$theme-colors: (
    'gray-100': #f2f3f4,
    'gray-200': #e7eaf3,
    'gray-300': #d5dae2,
    'gray-400': #99a2aa,
    'gray-500': #77838f,
    'red-100': #FFEEEE,
    'red-500': #f45757,
    'black-200': #1e2022,
    'black-600': #02090F,
    'blue-200': #EDF3FF,
    
    
    
);

//  Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-sans-serif: 'Nunito', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-size-base: 0.875rem; // Assumes the browser default, typically `16px`
